:local {
  .resultsList {
    margin: 0px;
    padding: 0px;
  }

  .excerptItem {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #575757;
  }

  .excerptItem:hover {
    background-color: #575757;
  }
}
