:local {
  .banner {
    display: flex;
    justify-content: space-between;
    margin:0px auto;
    padding: 16px 0px 0px 30px;
    background:rgb(85, 28, 255);
    color: white;
    font-size: 18px;
    cursor: default;
  }

  .menuChevronIconContainer {
    display: inline;
  }

  .menuChevronIcon {
    display: inline-block;
    padding: 0px 10px 5px 0px;
    cursor: pointer;
  }

  .menuDropDown {
    position: absolute;
    top: 50px;
    left: 45px;
    width: 215px;
    border-radius: 3px;
    background-color: #d5d0d0;
    color: #000000;
    font-size: .8rem;
    cursor: default; 
    box-shadow: 26px 32px 68px 0px rgba(0,0,0,0.75);
  }

  .menuItem {
    padding: 8px; 
    border-radius: 2px;
  }
  .menuItem:hover {
    background-color: #1e1eff;
    color: #dedede;
  }

  .menuItem:active {
    background-color: #939191;
    color: #000000;
  }
}
