:local {
  .columnsContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*
     * position: relative;
     * height: 100%;
     */
    /* 
     * display: flex;
     * flex-direction: column;
     * flex-wrap: nowrap;
     * justify-content: flex-start;
     * align-items: flex-start;
     * overflow-x: hidden;
     * overflow-y: hidden;
     */
  }

  .rowsContainer {
    display: flex;
    flex-direction: row;
  }
}
