:local {
  .inputBlock {
    display: inline-block;
    width: 350px;
    margin:0px auto;
    padding: 19px 0px 0px 30px;
    font-size: 14px;
    // border: 1px solid #E3E3E3;
    // height: 50px;
    // width: 100%;
    // vertical-align: left;
    // margin: 0px auto;
    // padding: 10px;
    // color: #2D2D2D;
    // background: white;
  }
}
