:local {
  .searchesColumn {
    display: inline-block;
    height: 100%;
    width: 300px;
  }

  .searchesTitle {
    height: 100%;
    width: 80%;
    padding: 15px;
    color: #D0D0D0;
    font-size: 14px;
    border-bottom: 1px solid #858585;
  }

  .searchesBody {
    padding: 15px;
    border-right: 1px solid #22201C;
  }

  .searches {
    height: 100%;
  }
}


