:local {
  .searchListContainer {
    margin: 15px 0px;
  }

  .searchList {
    margin: 0px 15px;
    padding: 0px;
  }

  .searchListItem {
    padding: 10px 0px;
    border-bottom: 1px solid #555;
    vertical-align: middle;
  }

  .searchListItemSelected {
    // color: #858585;
    background-color: rgb(80, 75, 64);
  }

  .searchInput {
    height: 20px;
    padding: 4px;
    outline: none;
    border: 1px solid #858585;
    border-radius: 3px;
    font-size: 14px;
  }

  .searchCheckIcon {
    display: inline-block;
    cursor: pointer;
  }

  .searchCheckIcon:active {
    color: #858585;
  }

  .searchName {
    margin: 0px 10px;
  }

  .addSearchIcon {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
  }
}
