:local {
  .resultsHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #121C14;
    font-size: 16px;
    color: #A4A4A4    
  }

  .resultsFile {
    margin: 15px;
  }

  .resultsCount {
    margin: 15px;
  }
}
